/build/
nbbuild/
nbdist/
dist/
nbproject/private/

*.class
*.jar
*.war
*.ear

.m2/
.gradle/


nbproject/private/
nbconfig/
*.nbattrs

.idea/
*.iml

.settings/
.project
.classpath

lib/
node_modules/

*.log
*.db
*.sqlite
.env